body {
    background-color:#ff3c1a;
    text-align: center;
}

.image{
    width: 75%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#positionBoite {
    display: grid;
    grid-template-columns: 35% 30% 35%;
    text-align: center;
}

#boite {
    background-color: #F5DEB3;
    border-radius: 10px;
    border: 1px solid #000;
    text-align: left;
    padding: 10px;
    width:100%;
}

#message {
    color: #F5DEB3;
}

.bouton {
    text-align: left;
}

#positionTitre {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}

h1 {
    font-family: scrabbleFont;
    margin: 4%;
    padding: 1%;
    border: 1px solid #000;
    background-color: #F5DEB3;
    border-radius: 10px;
}

@font-face {
    font-family: scrabbleFont;
    src: url(../ScrabbleFont/Scramble.ttf);
  }